--- DATA REVISION ---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install geopandas
import geopandas as gpd
shape_df = gpd.read_file("/content/hotosm_idn_eastjava_points_of_interest_points.shp")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.5.18.1)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)

In [ ]:
shape_df.head(10)

,osm_id,amenity,shop,addrstreet,beds,addrhousen,name,addrcity,addrfull,rooms,source,tourism,man_made,opening_ho,geometry
0,59073041.0,None,None,None,None,None,Gunung Bromo,None,None,None,None,attraction,None,None,POINT (112.95298 -7.94207)
1,269588612.0,None,None,None,None,None,Sunrise Point 1,None,None,None,None,viewpoint,None,None,POINT (112.95109 -7.90458)
2,269588614.0,None,None,None,None,None,Lava,None,None,None,None,hotel,None,None,POINT (112.96402 -7.92221)
3,270391939.0,None,None,Taman Sampoerna,None,6,House of Sampoerna,"Krembangan, East Java, Surabaya",None,None,None,museum,None,Mo-Sa 09:00-18:00,POINT (112.73415 -7.23099)
4,298576238.0,None,None,None,None,None,Kotok,None,None,None,None,attraction,None,None,POINT (113.77905 -8.12625)
5,298576462.0,None,None,None,None,None,Arjasa,None,None,None,None,attraction,None,None,POINT (113.74279 -8.12944)
6,298579276.0,None,None,None,None,None,Tanggul,None,None,None,None,attraction,None,None,POINT (113.44839 -8.16282)
7,298582714.0,None,None,None,None,None,Leces,None,None,None,None,attraction,None,None,POINT (113.22909 -7.84778)
8,298739823.0,restaurant,None,None,None,None,Peyek Uceng,None,None,None,None,None,None,None,POINT (112.32915 -8.06666)
9,298739945.0,fuel,yes,None,None,None,PB1,None,None,None,None,None,None,24/7,POINT (112.22915 -8.07645)

In [ ]:
shape_df[['name','geometry']].iloc[[100]]

               name                    geometry
100  Farmasi School  POINT (111.53176 -7.64011)

In [ ]:
shape_df['long'] = shape_df.geometry.apply(lambda pos: pos.x)
shape_df['lat'] = shape_df.geometry.apply(lambda pos: pos.y)

In [ ]:
temp = shape_df[['lat', 'long']].iloc[[0]].values.tolist()
temp2 = shape_df[['lat', 'long']].iloc[[1]].values.tolist()
print(temp)

[[-7.9420691, 112.9529769]]

In [ ]:
#!pip install geopy
import geopy.distance

print(geopy.distance.distance(temp, temp2).km)

4.151292322803747

SEKARANG TINGGAL ITERASI BUAT SETIAP DATA OSM NYA

In [ ]:
shape_df.head()

,osm_id,amenity,shop,addrstreet,beds,addrhousen,name,addrcity,addrfull,rooms,source,tourism,man_made,opening_ho,geometry,long,lat
0,59073041.0,None,None,None,None,None,Gunung Bromo,None,None,None,None,attraction,None,None,POINT (112.95298 -7.94207),112.952977,-7.942069
1,269588612.0,None,None,None,None,None,Sunrise Point 1,None,None,None,None,viewpoint,None,None,POINT (112.95109 -7.90458),112.951088,-7.904580
2,269588614.0,None,None,None,None,None,Lava,None,None,None,None,hotel,None,None,POINT (112.96402 -7.92221),112.964017,-7.922209
3,270391939.0,None,None,Taman Sampoerna,None,6,House of Sampoerna,"Krembangan, East Java, Surabaya",None,None,None,museum,None,Mo-Sa 09:00-18:00,POINT (112.73415 -7.23099),112.734146,-7.230992
4,298576238.0,None,None,None,None,None,Kotok,None,None,None,None,attraction,None,None,POINT (113.77905 -8.12625),113.779048,-8.126245

In [ ]:
print(shape_df['amenity'].unique())

[None 'restaurant' 'fuel' 'clinic' 'post_office' 'townhall' 'studio'
 'cafe' 'parking' 'school' 'place_of_worship' 'telephone' 'ferry_terminal'
 'toilets' 'bus_station' 'shelter' 'mountain_rescue' 'food_court'
 'pharmacy' 'theatre' 'taxi' 'car_wash' 'kindergarten' 'atm' 'grave_yard'
 'bank' 'hospital' 'police' 'fast_food' 'motorcycle_parking' 'university'
 'college' 'fountain' 'clock' 'marketplace' 'bench' 'library'
 'fire_station' 'bicycle_parking' 'cinema' 'drinking_water' 'doctors'
 'prison' 'bar' 'arts_centre' 'vending_machine' 'government_place'
 'community_centre' 'register_office' 'nightclub' 'childcare' 'car_rental'
 'water_point' 'watering_place' 'veterinary' 'karaoke_box' 'parking_space'
 'pub' 'dentist' 'courthouse' 'waste_disposal' 'shower' 'compressed_air'
 'social_facility' 'charging_station' 'ice_cream' 'music_school'
 'bureau_de_change' 'nursing_home' 'internet_cafe' 'waste_basket'
 'recycling' 'animal_boarding' 'pitch' 'parking_entrance' 'bicycle_rental'
 'prep_school' 'public_bookcase' 'housing' 'driving_school'
 'bicycle_repair_station' 'love_hotel' 'mortuary' 'money_transfer'
 'service' 'boat_rental']

In [ ]:
restaurant = shape_df.query("amenity == 'restaurant' or amenity == 'fast_food' or amenity == 'ice_cream' or amenity == 'internet_cafe' or amenity == 'cafe' or amenity == 'food_court'")
office = shape_df.query("amenity == 'fuel' or amenity == 'clinic' or amenity == 'ferry_terminal' or amenity == 'bank' or amenity == 'marketplace' or amenity == 'cinema' or amenity == 'government_place' or amenity == 'townhall' or amenity == 'post_office' or amenity == 'police' or amenity == 'hospital' or amenity == 'studio' or amenity == 'bus_station'")
school = shape_df.query("amenity == 'school' or amenity == 'kindergarten' or amenity == 'university' or amenity == 'college' or amenity == 'library'")

print(len(restaurant))
print(len(office))
print(len(school))

1428
1238
755

NOW ITS TIME TO CALCULATE DISTANCE BETWEEN RESTAURANT-OFFICE AND RESTAURANT-SCHOOL

In [ ]:
distance_list = []
for i in range(len(restaurant)):
  current_min = 1000
  for j in range(len(office)):
    temp = restaurant[['lat', 'long']].iloc[[i]].values.tolist()
    temp2 = office[['lat', 'long']].iloc[[j]].values.tolist()
    distance = geopy.distance.distance(temp, temp2).km
    if distance < current_min:
      current_min = distance
  distance_list.append(current_min)
restaurant['nearest_office'] = distance_list

In [ ]:
distance_list = []
for i in range(len(restaurant)):
  current_min = 1000
  for j in range(len(school)):
    temp = restaurant[['lat', 'long']].iloc[[i]].values.tolist()
    temp2 = school[['lat', 'long']].iloc[[j]].values.tolist()
    distance = geopy.distance.distance(temp, temp2).km
    if distance < current_min:
      current_min = distance
  distance_list.append(current_min)
restaurant['nearest_school'] = distance_list

In [ ]:
# restaurant = restaurant.drop(columns=["rating"])
restaurant.query("name != name")

,osm_id,amenity,shop,addrstreet,beds,addrhousen,name,addrcity,addrfull,rooms,source,tourism,man_made,opening_ho,geometry,long,lat
2229,2.295393e+09,restaurant,None,None,None,None,None,None,None,None,None,None,None,None,POINT (113.60537 -8.34452),113.605366,-8.344518
2514,2.695944e+09,restaurant,None,None,None,None,None,None,None,None,None,None,None,None,POINT (114.02946 -8.59875),114.029465,-8.598753
2627,3.042675e+09,restaurant,None,None,None,None,None,None,None,None,None,None,None,None,POINT (112.62636 -7.14250),112.626355,-7.142497
2881,3.285356e+09,cafe,None,None,None,None,None,None,None,None,None,None,None,None,POINT (114.34119 -8.22294),114.341190,-8.222937
2882,3.285356e+09,cafe,None,None,None,None,None,None,None,None,None,None,None,None,POINT (114.34084 -8.22320),114.340836,-8.223204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9424,9.218740e+09,cafe,None,Jalan Rusun Dupak Bangunrejo II,None,None,None,None,None,None,None,None,None,Mo-Su 05:00-13:00,POINT (112.71615 -7.23998),112.716146,-7.239982
9870,9.738044e+09,restaurant,None,None,None,None,None,None,None,None,None,None,None,None,POINT (111.85737 -7.57170),111.857367,-7.571697
9879,9.738048e+09,restaurant,None,None,None,None,None,None,None,None,None,None,None,None,POINT (111.65854 -7.54291),111.658541,-7.542910
9912,9.738054e+09,restaurant,None,None,None,None,None,None,None,None,None,None,None,None,POINT (111.70895 -7.55245),111.708948,-7.552446
9983,9.743459e+09,cafe,None,None,None,None,None,None,None,None,None,None,None,None,POINT (111.58386 -7.44895),111.583857,-7.448950

In [ ]:
restaurant.to_csv("/content/restaurant.csv")

In [ ]:
import pandas as pd
restaurant = pd.read_csv("restaurant.csv")

In [ ]:
import requests
import urllib.parse
# from config import gkey

In [ ]:
baseURL = "https://maps.googleapis.com/maps/api/geocode/json?latlng="

In [ ]:
# key = "&key=" + gkey
key = "&key=" + "AIzaSyDYucK5zjxTge6xJYeh1Pqki6GLwDjXY1g"

In [ ]:
# GAPERLU DI-RUN
from urllib import request
for index, rows in restaurant.iterrows():
  url = f"{baseURL}{rows.lat},{rows.long}{key}"
  print(url)
  # print(requests.get(url).json())

https://maps.googleapis.com/maps/api/geocode/json?latlng=-8.0719605,112.1859257&key=AIzaSyDYucK5zjxTge6xJYeh1Pqki6GLwDjXY1g
https://maps.googleapis.com/maps/api/geocode/json?latlng=-8.0915328,112.1828019&key=AIzaSyDYucK5zjxTge6xJYeh1Pqki6GLwDjXY1g
https://maps.googleapis.com/maps/api/geocode/json?latlng=-7.2658834,112.7560738&key=AIzaSyDYucK5zjxTge6xJYeh1Pqki6GLwDjXY1g
https://maps.googleapis.com/maps/api/geocode/json?latlng=-7.2661303,112.7646912&key=AIzaSyDYucK5zjxTge6xJYeh1Pqki6GLwDjXY1g

In [ ]:
myList = []
for i in range(len(restaurant)):
  url = f"{baseURL}{restaurant.lat.iloc[i]},{restaurant.long.iloc[i]}{key}"
  #print(url)
  # print(requests.get(url).json()["results"][0]["place_id"])
  myList.append({
      "place_id":requests.get(url).json()["results"][0]["place_id"]
  })
temp = []
for i in range(len(myList)):
  temp.append(myList[i]["place_id"])

In [ ]:
detailURL = "https://maps.googleapis.com/maps/api/place/details/json?fields=name%2Crating&place_id="

In [ ]:
rating_list = []
for i in range(len(temp)):
  url = f"{detailURL}{temp[i]}{key}"
  # print(url)
  try:
    rating_list.append(
        requests.get(url).json()["result"]["rating"]
    )
  except KeyError:
    rating_list.append(None)

In [ ]:
restaurant['rating'] = rating_list

In [ ]:
restaurant.to_csv("/content/restaurant_with_rating.csv")

In [ ]:
#UPDATE GEDE2AN
detailURL = "https://maps.googleapis.com/maps/api/place/details/json?fields=name%2Crating&place_id="
key = "&key=" + "AIzaSyDYucK5zjxTge6xJYeh1Pqki6GLwDjXY1g"

#DETAIL MENYUSUL, PUSH GITHUB DULU

RUN DARI SINI

RUN DARI SINI

RUN DARI SINI

In [ ]:
import pandas as pd

restaurant = pd.read_csv("/content/restaurant_with_rating.csv")

In [ ]:
restaurant.head(10)

,Unnamed: 0,Unnamed: 0.1,osm_id,amenity,beds,addrcity,opening_ho,shop,addrhousen,addrfull,...,addrstreet,tourism,rooms,name,geometry,long,lat,nearest_office,nearest_school,rating
0,0,8,298739823.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Peyek Uceng,POINT (112.3291454 -8.0666568),112.329145,-8.066657,1.337321,1.155907,4.2
1,1,12,298741251.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Presiden Lesehan,POINT (112.1859257 -8.0719605),112.185926,-8.071960,2.844733,1.191655,4.3
2,2,14,298741411.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Sania Lesehan,POINT (112.1828019 -8.0915328),112.182802,-8.091533,1.193229,0.468134,NaN
3,3,17,415826788.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Mie Hokkien Rajake,POINT (112.7560738 -7.2658834),112.756074,-7.265883,0.358963,0.697088,NaN
4,4,18,415826789.0,cafe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Cafe Glass,POINT (112.7646912 -7.2661303),112.764691,-7.266130,0.420838,0.842061,NaN
5,5,23,420468986.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ah Yat Abalone Forum,POINT (112.7153034 -7.2921492),112.715303,-7.292149,0.219489,0.838483,NaN
6,6,26,420911120.0,restaurant,NaN,Prigen,NaN,NaN,58,NaN,...,Jalan Raya,NaN,NaN,Sudi Mampir,POINT (112.640351 -7.6808683),112.640351,-7.680868,1.933450,0.025966,NaN
7,7,27,421219476.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Daun Lada,POINT (112.7068932 -7.282439),112.706893,-7.282439,0.749055,0.759743,NaN
8,8,30,421263098.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Ikan Bakar Cianjur,POINT (112.697512 -7.6612106),112.697512,-7.661211,1.275256,6.693959,NaN
9,9,31,421991642.0,restaurant,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Kuningan Restaurant,POINT (112.750176 -7.2716247),112.750176,-7.271625,0.371675,0.736466,NaN

In [ ]:
df = restaurant[["name", "amenity", "nearest_office", "nearest_school", "rating"]]

In [ ]:
df["rating"].isnull().sum()

616

In [ ]:
# BAHAYA BAT WKWKW, VARIANCE JADI GAJELAS
import numpy as np
# df["rating"] = df["rating"].replace(np.NaN, df["rating"].mean())
for i in range(len(df)):
  if df["rating"].iloc[i] != df["rating"].iloc[i]:
      # aku predict manual buat data kosong, biar ga terlalu random
      # 0km-0.5km -> 5
      # 0.5km-1km -> 4
      # 1km-3km -> 3
      # 3km-5km -> 2
      # 5km++ -> 1
      if df["nearest_office"].iloc[i] >= 0 and df["nearest_office"].iloc[i] < 0.5 or df["nearest_school"].iloc[i] >= 0 and df["nearest_school"].iloc[i] < 0.5:
        df["rating"].iloc[i] = 5
      elif df["nearest_office"].iloc[i] >= 0.5 and df["nearest_office"].iloc[i] < 1 or df["nearest_school"].iloc[i] >= 0.5 and df["nearest_school"].iloc[i] < 1:
        df["rating"].iloc[i] = 4
      elif df["nearest_office"].iloc[i] >= 1 and df["nearest_office"].iloc[i] < 3 or df["nearest_school"].iloc[i] >= 1 and df["nearest_school"].iloc[i] < 3:
        df["rating"].iloc[i] = 3
      elif df["nearest_office"].iloc[i] >= 3 and df["nearest_office"].iloc[i] < 5 or df["nearest_school"].iloc[i] >= 3 and df["nearest_school"].iloc[i] < 5:
        df["rating"].iloc[i] = 2
      elif df["nearest_office"].iloc[i] >= 5 or df["nearest_school"].iloc[i] >= 5:
        df["rating"].iloc[i] = 1
      # iya mataku juga pedes liat ini wkwk

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df["rating_range"] = pd.cut(df["rating"], bins=[0.0, 2.4, 3.5, 4.2, 4.7, 5.0], labels=["E", "D", "C", "B", "A"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(50)

,name,amenity,nearest_office,nearest_school,rating,rating_range
0,Peyek Uceng,restaurant,1.337321,1.155907,4.2,C
1,Presiden Lesehan,restaurant,2.844733,1.191655,4.3,B
2,Sania Lesehan,restaurant,1.193229,0.468134,5.0,A
3,Mie Hokkien Rajake,restaurant,0.358963,0.697088,5.0,A
4,Cafe Glass,cafe,0.420838,0.842061,5.0,A
5,Ah Yat Abalone Forum,restaurant,0.219489,0.838483,5.0,A
6,Sudi Mampir,restaurant,1.933450,0.025966,5.0,A
7,Daun Lada,restaurant,0.749055,0.759743,4.0,C
8,Ikan Bakar Cianjur,restaurant,1.275256,6.693959,3.0,D
9,Kuningan Restaurant,restaurant,0.371675,0.736466,5.0,A
10,Bakso radja,restaurant,0.214698,0.352354,5.0,A
11,Hargo Dalem,cafe,14.293283,12.048261,1.0,E
12,Warung,restaurant,15.106013,16.372787,1.0,E
13,Palupy Catering,restaurant,0.782877,0.114730,5.0,A
14,D' Cost,restaurant,0.130138,0.186226,5.0,A
15,Bon Cafe,cafe,0.132211,0.315086,5.0,A
16,Loop Food Court,food_court,0.197085,0.090646,5.0,A
17,pasar sore,fast_food,0.124069,0.425360,5.0,A
18,gang jangkrik,restaurant,0.134905,0.276537,5.0,A
19,cofe POM,cafe,0.453726,0.846172,5.0,A
20,Mr. Jack,fast_food,0.523321,0.678315,4.0,C
21,Mie dan Bakso Pak Kromo,restaurant,0.417515,0.846345,5.0,A
22,Pizza Hut,restaurant,0.087973,0.128584,5.0,A
23,Galavita,restaurant,0.095197,0.420454,4.2,C
24,Depot Jawa Timur,restaurant,0.090267,0.177028,5.0,A
25,Lestari,restaurant,0.084382,0.156327,4.4,B
26,Depot Anda,restaurant,0.062393,0.077788,5.0,A
27,Bakmi GNI,restaurant,0.207428,0.193285,5.0,A
28,Bubur Ayam Sundari,restaurant,0.533619,0.539816,5.0,A
29,Hooter,restaurant,0.605325,0.492068,5.0,A
30,Rembangan,restaurant,8.080622,9.136149,5.0,A
31,Sumber Nikmat,restaurant,0.617692,0.335177,4.0,C
32,Bakso Solo Sampurna,restaurant,0.078445,0.333782,5.0,A
33,CFC,fast_food,0.220869,0.106596,5.0,A
34,Gudeg Lumintu,restaurant,0.394039,0.589880,5.0,A
35,Depot Bu Darum,restaurant,0.296109,0.674191,5.0,A
36,Kedai Susu Segar,cafe,0.129379,0.131027,5.0,A
37,Quick Chicken,fast_food,0.144488,0.344546,5.0,A
38,KenTea Cafe & Resto,cafe,0.448621,4.023350,4.0,C
39,Quick Chicken,fast_food,0.326564,0.159324,4.7,B
40,Cofee Break,cafe,0.309352,0.177355,5.0,A
41,Bakso 88,fast_food,1.046966,2.671615,3.1,D
42,Morning cafe,cafe,2.439391,13.492595,3.0,D
43,Cemara Indah,restaurant,0.140937,15.832119,3.9,C
44,Warung Bu Lilik,cafe,0.832975,2.277129,4.0,C
45,Pecel Nganjuk,restaurant,0.831114,2.466048,4.0,C
46,Bubur Ayam Citra,restaurant,0.801658,2.498069,4.0,C
47,Bebek Juara,restaurant,0.806184,2.492442,4.3,B
48,brownis cafe,cafe,0.222914,0.259923,5.0,A
49,Bakso gangsar,restaurant,0.628232,0.625974,4.9,A

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelBinarizer

X = df[["nearest_office", "nearest_school"]]
y = pd.get_dummies(df["rating_range"], prefix='rating_range')

In [ ]:
print(y[0:5].values)

[[0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]
 [0 0 0 0 1]
 [0 0 0 0 1]]

In [ ]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = tf.keras.Sequential([
                            tf.keras.layers.Dense(128, activation='relu'), 
                            tf.keras.layers.Dense(64, activation='relu'), 
                            tf.keras.layers.Dense(5, activation='softmax') 
                            ])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])

# model.fit(X_train, y_train, epochs=40, batch_size = 10)
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=2, batch_size=10)

Epoch 1/50
76/76 - 1s - loss: 0.5875 - acc: 0.5714 - val_loss: 0.5106 - val_acc: 0.6000 - 767ms/epoch - 10ms/step
Epoch 2/50
76/76 - 0s - loss: 0.4246 - acc: 0.5979 - val_loss: 0.3662 - val_acc: 0.6316 - 174ms/epoch - 2ms/step
Epoch 3/50
76/76 - 0s - loss: 0.3526 - acc: 0.6151 - val_loss: 0.3404 - val_acc: 0.6316 - 189ms/epoch - 2ms/step
Epoch 4/50
76/76 - 0s - loss: 0.3395 - acc: 0.6323 - val_loss: 0.3400 - val_acc: 0.6263 - 142ms/epoch - 2ms/step
Epoch 5/50
76/76 - 0s - loss: 0.3342 - acc: 0.6468 - val_loss: 0.3301 - val_acc: 0.6421 - 144ms/epoch - 2ms/step
Epoch 6/50
76/76 - 0s - loss: 0.3310 - acc: 0.6429 - val_loss: 0.3293 - val_acc: 0.6421 - 156ms/epoch - 2ms/step
Epoch 7/50
76/76 - 0s - loss: 0.3272 - acc: 0.6534 - val_loss: 0.3282 - val_acc: 0.6474 - 154ms/epoch - 2ms/step
Epoch 8/50
76/76 - 0s - loss: 0.3254 - acc: 0.6442 - val_loss: 0.3287 - val_acc: 0.6632 - 155ms/epoch - 2ms/step
Epoch 9/50
76/76 - 0s - loss: 0.3242 - acc: 0.6508 - val_loss: 0.3264 - val_acc: 0.6579 - 148ms/epoch - 2ms/step
Epoch 10/50
76/76 - 0s - loss: 0.3215 - acc: 0.6614 - val_loss: 0.3243 - val_acc: 0.6579 - 145ms/epoch - 2ms/step
Epoch 11/50
76/76 - 0s - loss: 0.3205 - acc: 0.6601 - val_loss: 0.3248 - val_acc: 0.6632 - 143ms/epoch - 2ms/step
Epoch 12/50
76/76 - 0s - loss: 0.3168 - acc: 0.6640 - val_loss: 0.3243 - val_acc: 0.6579 - 149ms/epoch - 2ms/step
Epoch 13/50
76/76 - 0s - loss: 0.3156 - acc: 0.6574 - val_loss: 0.3297 - val_acc: 0.6632 - 141ms/epoch - 2ms/step
Epoch 14/50
76/76 - 0s - loss: 0.3159 - acc: 0.6653 - val_loss: 0.3196 - val_acc: 0.7053 - 149ms/epoch - 2ms/step
Epoch 15/50
76/76 - 0s - loss: 0.3144 - acc: 0.6799 - val_loss: 0.3336 - val_acc: 0.6737 - 154ms/epoch - 2ms/step
Epoch 16/50
76/76 - 0s - loss: 0.3125 - acc: 0.6759 - val_loss: 0.3214 - val_acc: 0.7053 - 146ms/epoch - 2ms/step
Epoch 17/50
76/76 - 0s - loss: 0.3129 - acc: 0.6812 - val_loss: 0.3221 - val_acc: 0.7105 - 148ms/epoch - 2ms/step
Epoch 18/50
76/76 - 0s - loss: 0.3104 - acc: 0.6958 - val_loss: 0.3267 - val_acc: 0.7105 - 149ms/epoch - 2ms/step
Epoch 19/50
76/76 - 0s - loss: 0.3099 - acc: 0.6892 - val_loss: 0.3207 - val_acc: 0.7211 - 138ms/epoch - 2ms/step
Epoch 20/50
76/76 - 0s - loss: 0.3072 - acc: 0.6931 - val_loss: 0.3193 - val_acc: 0.7158 - 145ms/epoch - 2ms/step
Epoch 21/50
76/76 - 0s - loss: 0.3068 - acc: 0.6865 - val_loss: 0.3188 - val_acc: 0.7158 - 188ms/epoch - 2ms/step
Epoch 22/50
76/76 - 0s - loss: 0.3058 - acc: 0.6971 - val_loss: 0.3268 - val_acc: 0.7000 - 151ms/epoch - 2ms/step
Epoch 23/50
76/76 - 0s - loss: 0.3061 - acc: 0.6984 - val_loss: 0.3143 - val_acc: 0.7158 - 141ms/epoch - 2ms/step
Epoch 24/50
76/76 - 0s - loss: 0.3070 - acc: 0.6944 - val_loss: 0.3183 - val_acc: 0.7158 - 149ms/epoch - 2ms/step
Epoch 25/50
76/76 - 0s - loss: 0.3033 - acc: 0.7011 - val_loss: 0.3194 - val_acc: 0.7158 - 146ms/epoch - 2ms/step
Epoch 26/50
76/76 - 0s - loss: 0.3035 - acc: 0.6984 - val_loss: 0.3178 - val_acc: 0.7105 - 154ms/epoch - 2ms/step
Epoch 27/50
76/76 - 0s - loss: 0.3021 - acc: 0.7037 - val_loss: 0.3215 - val_acc: 0.7158 - 146ms/epoch - 2ms/step
Epoch 28/50
76/76 - 0s - loss: 0.3022 - acc: 0.7037 - val_loss: 0.3185 - val_acc: 0.7211 - 160ms/epoch - 2ms/step
Epoch 29/50
76/76 - 0s - loss: 0.3020 - acc: 0.7050 - val_loss: 0.3197 - val_acc: 0.7263 - 140ms/epoch - 2ms/step
Epoch 30/50
76/76 - 0s - loss: 0.3011 - acc: 0.7090 - val_loss: 0.3186 - val_acc: 0.7158 - 145ms/epoch - 2ms/step
Epoch 31/50
76/76 - 0s - loss: 0.3006 - acc: 0.7077 - val_loss: 0.3270 - val_acc: 0.7158 - 140ms/epoch - 2ms/step
Epoch 32/50
76/76 - 0s - loss: 0.2995 - acc: 0.7011 - val_loss: 0.3211 - val_acc: 0.7158 - 151ms/epoch - 2ms/step
Epoch 33/50
76/76 - 0s - loss: 0.2985 - acc: 0.7090 - val_loss: 0.3206 - val_acc: 0.7211 - 140ms/epoch - 2ms/step
Epoch 34/50
76/76 - 0s - loss: 0.2979 - acc: 0.7077 - val_loss: 0.3245 - val_acc: 0.7053 - 190ms/epoch - 3ms/step
Epoch 35/50
76/76 - 0s - loss: 0.2964 - acc: 0.7156 - val_loss: 0.3167 - val_acc: 0.7105 - 141ms/epoch - 2ms/step
Epoch 36/50
76/76 - 0s - loss: 0.2969 - acc: 0.7050 - val_loss: 0.3236 - val_acc: 0.7158 - 141ms/epoch - 2ms/step
Epoch 37/50
76/76 - 0s - loss: 0.2967 - acc: 0.7116 - val_loss: 0.3176 - val_acc: 0.7211 - 143ms/epoch - 2ms/step
Epoch 38/50
76/76 - 0s - loss: 0.2958 - acc: 0.7130 - val_loss: 0.3192 - val_acc: 0.7105 - 143ms/epoch - 2ms/step
Epoch 39/50
76/76 - 0s - loss: 0.2981 - acc: 0.7090 - val_loss: 0.3136 - val_acc: 0.7263 - 143ms/epoch - 2ms/step
Epoch 40/50
76/76 - 0s - loss: 0.2961 - acc: 0.7143 - val_loss: 0.3253 - val_acc: 0.7105 - 147ms/epoch - 2ms/step
Epoch 41/50
76/76 - 0s - loss: 0.2955 - acc: 0.7090 - val_loss: 0.3190 - val_acc: 0.7158 - 159ms/epoch - 2ms/step
Epoch 42/50
76/76 - 0s - loss: 0.2954 - acc: 0.7077 - val_loss: 0.3249 - val_acc: 0.7211 - 150ms/epoch - 2ms/step
Epoch 43/50
76/76 - 0s - loss: 0.2941 - acc: 0.7063 - val_loss: 0.3156 - val_acc: 0.7211 - 147ms/epoch - 2ms/step
Epoch 44/50
76/76 - 0s - loss: 0.2946 - acc: 0.7090 - val_loss: 0.3152 - val_acc: 0.7211 - 144ms/epoch - 2ms/step
Epoch 45/50
76/76 - 0s - loss: 0.2926 - acc: 0.7143 - val_loss: 0.3160 - val_acc: 0.7263 - 153ms/epoch - 2ms/step
Epoch 46/50
76/76 - 0s - loss: 0.2965 - acc: 0.7143 - val_loss: 0.3150 - val_acc: 0.7105 - 144ms/epoch - 2ms/step
Epoch 47/50
76/76 - 0s - loss: 0.2925 - acc: 0.7196 - val_loss: 0.3148 - val_acc: 0.7368 - 143ms/epoch - 2ms/step
Epoch 48/50
76/76 - 0s - loss: 0.2924 - acc: 0.7130 - val_loss: 0.3186 - val_acc: 0.7211 - 154ms/epoch - 2ms/step
Epoch 49/50
76/76 - 0s - loss: 0.2924 - acc: 0.7156 - val_loss: 0.3165 - val_acc: 0.7211 - 149ms/epoch - 2ms/step
Epoch 50/50
76/76 - 0s - loss: 0.2917 - acc: 0.7262 - val_loss: 0.3169 - val_acc: 0.7316 - 147ms/epoch - 2ms/step

In [ ]:
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print('Test loss:', loss)
print('Test accuracy:', accuracy)

Test loss: 0.3168994188308716
Test accuracy: 0.7315789461135864

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
actual = np.argmax(y_test.to_numpy(), axis=1)
predicted = np.argmax(y_pred,axis=1)
print(f"Actual:\n {actual}")
print(f"Predict:\n {predicted}")

Actual:
 [1 4 2 3 2 3 4 4 4 0 4 3 2 4 1 3 4 4 4 3 4 4 4 4 4 4 3 4 4 3 2 1 4 1 4 4 1
 4 4 4 4 4 4 2 4 2 4 4 4 4 3 3 3 4 4 3 2 4 2 4 2 4 4 0 4 4 4 4 4 4 2 4 3 1
 2 4 4 3 4 4 2 4 4 4 4 4 2 2 1 3 4 2 0 4 3 2 4 2 4 3 4 4 4 4 3 4 3 2 1 4 4
 2 4 3 2 3 2 4 2 4 3 1 4 0 2 3 4 4 4 1 4 4 4 2 4 3 0 4 4 4 2 3 4 3 4 4 4 2
 4 4 4 4 4 4 4 4 3 4 4 4 3 4 3 4 4 4 4 3 1 2 4 0 1 1 4 4 4 4 4 4 4 4 4 4 4
 4 4 3 4 4]
Predict:
 [2 4 2 4 2 4 4 4 4 0 4 4 2 4 1 2 4 4 4 4 4 4 4 4 4 4 4 4 4 2 4 1 4 4 4 4 1
 4 4 4 4 4 4 2 4 4 4 4 4 4 4 1 1 2 4 4 4 4 2 4 2 4 4 0 4 4 4 4 4 4 4 4 4 1
 4 4 4 4 4 4 4 4 4 1 4 4 2 2 1 4 4 4 4 4 1 4 4 4 4 4 4 4 4 4 4 4 4 2 0 4 4
 2 4 4 4 4 4 4 2 4 4 1 4 4 2 1 4 4 4 1 4 4 4 2 4 4 0 4 4 4 2 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1 2 4 0 4 2 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4]

In [ ]:
# dari sini keliatan datanya jelek bat
# update: agak lumayan si habis kukasih kategorisasi manual di atas
y_test.value_counts()

rating_range_E  rating_range_D  rating_range_C  rating_range_B  rating_range_A
0               0               0               0               1                 114
                                                1               0                  30
                                1               0               0                  27
                1               0               0               0                  13
1               0               0               0               0                   6
dtype: int64

In [ ]:
# outputnya tu categorical dari rating_range (0, 1, 2, 3) berturut2 ky output sebelumnya
trial = np.array([[0.2, 0.3]]) # deket bat, harusnya terekomendasi
print(np.argmax(model.predict(trial), axis=1))
trial2 = np.array([[20, 30]]) # jauh bat, harusnya ga terekomendasi
print(np.argmax(model.predict(trial2), axis=1))
trial3 = np.array([[2, 2]]) # agak jauh, harusnya ga terlalu terekomendasi
print(np.argmax(model.predict(trial3), axis=1))

[4]
[0]
[1]

In [ ]:
# KALO UDAH KELAR GAS EXPORT
model.save('/content/locasee_model_final.h5')

In [ ]:
from  tensorflow.contrib.lite.python import convert_saved_model

convert_saved_model.convert(saved_model_dir="/content/locasee_model.h5",output_tflite="/locasee_model")

ModuleNotFoundError: ignored

TESTING PART, REST API WILL BE DEVELOPED IN DIFFERENT NOTEBOOK DUE TO THE CODE COMPLEXITY :D

In [2]:
import tensorflow as tf
import pandas as pd

restaurant = pd.read_csv("/content/restaurant_with_rating.csv")
df = restaurant[["name", "amenity", "nearest_office", "nearest_school", "rating"]]
df = df.query("rating == rating")
df["rating_range"] = pd.cut(df["rating"], bins=[0.0, 2.4, 3.5, 4.2, 4.7, 5.0], labels=["E", "D", "C", "B", "A"])

X = df[["nearest_office", "nearest_school"]]
y = pd.get_dummies(df["rating_range"], prefix='rating_range')

model = tf.keras.models.load_model('/content/locasee_model_final.h5')
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 128)               384

 dense_10 (Dense)            (None, 64)                8256

 dense_11 (Dense)            (None, 5)                 325

=================================================================
Total params: 8,965
Trainable params: 8,965
Non-trainable params: 0
_________________________________________________________________

In [3]:
loss, acc = model.evaluate(X, y, verbose=2)
print('Restored model, accuracy: {:5.2f}%'.format(100 * acc))

11/11 - 0s - loss: 0.5559 - acc: 0.2909 - 432ms/epoch - 39ms/step
Restored model, accuracy: 29.09%

In [4]:
df.head(100)

,name,amenity,nearest_office,nearest_school,rating,rating_range
0,Peyek Uceng,restaurant,1.337321,1.155907,4.2,C
1,Presiden Lesehan,restaurant,2.844733,1.191655,4.3,B
10,Bakso radja,restaurant,0.214698,0.352354,5.0,A
13,Palupy Catering,restaurant,0.782877,0.114730,5.0,A
19,cofe POM,cafe,0.453726,0.846172,5.0,A
...,...,...,...,...,...,...
242,"RM ""PADIN"" Aneka Penyetan (Bu. Dewi Achmad)",restaurant,0.470513,0.262566,4.7,B
244,Kepiting Cak Gundul 1992,restaurant,0.292912,0.407869,4.4,B
248,Ayam Goreng Asli Pemuda,restaurant,0.376919,0.174293,4.3,B
249,Ayam Goreng President,restaurant,0.531759,0.295802,5.0,A
254,Bakso Kepala Sapi,restaurant,0.496028,0.236664,4.3,B